/* fonts */
@import url("css2.css");

body {
  font-family: "IBM Plex Sans", "Sans" !important;
}
.font-one {
  font-family: "IBM Plex Sans", "Sans" !important;
}
.cursor-pointer {
  cursor: pointer;
}
.mobile-header {
  background: url("../fonts/top-banner.svg");
  height: 64px;
  width: 100%;
}
.btn-option {
  background-color: rgb(222, 254, 242);
  color: rgb(3, 69, 46);
  box-shadow: rgb(222, 254, 242) -6px 0px 0px 0px,
    rgb(222, 254, 242) 6px 0px 0px 0px, rgb(222, 254, 242) 0px -6px 0px 0px,
    rgb(222, 254, 242) 0px 6px 0px 0px;
}
.input-border {
  letter-spacing: 0.00938em;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  outline: none !important;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: "IBM Plex Sans";
  color: rgb(34, 34, 34);
  background: rgb(244, 255, 251);
  border-radius: 32px;
  height: 56px;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-style: solid;
  border-width: 6px;
  border-image-source: url("../fonts/border.svg");
  border-color: rgb(154, 167, 162);
}
.input-border:focus {
  background: rgb(255, 255, 255);
  border-color: rgb(31, 44, 39);
}
input[name="email"]:not(:placeholder-shown):invalid + .email-error {
  display: block;
}
.email-error {
  display: none;
}

.login-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border-color: initial;
  border-image-repeat: initial;
  margin: 0px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  font-family: "IBM Plex Sans";
  text-transform: none;
  padding: 7px 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  height: 56px;
  color: rgb(0, 0, 0);
  border-radius: 32px;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-style: solid;
  border-width: 6px;
  border-image-source: url("../fonts/border-black.svg");
  background-image: linear-gradient(
    to top,
    rgb(216, 179, 48) 0%,
    rgb(216, 179, 48) 50%,
    rgb(255, 237, 176) 50%,
    rgb(255, 237, 176) 100%
  );
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: unset !important;
}
.btn-txt {
  width: calc(100% - 12px);
  height: calc(100% - 6px);
  background-color: rgb(255, 213, 65);
  box-shadow: rgb(255, 213, 65) -6px 0px 0px 0px,
    rgb(255, 213, 65) 6px 0px 0px 0px, rgb(255, 213, 65) 0px -4px 0px 0px,
    rgb(255, 213, 65) 0px 4px 0px 0px;
}
.ripple {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.5;
  background-color: rgba(48, 46, 46, 0.5);
  animation: ripple-effect 0.7s linear;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 1;
  }
}

.big-bg {
  background: url("../fonts/big-bg.svg");
  height: 110%;
  /* width: 100%; */
}
